name: Build Release

on:
  push:
    tags:
    - "v*"

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v5

      - name: Configure Docker for multi-arch builds
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker buildx for multi-arch builds
        uses: docker/setup-buildx-action@v3

      - name: Log in to the GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build, tag, and push docker image to the GitHub Container Registry
        run: make push

      - name: Install poetry
        run: pipx install poetry

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.13.x"
          cache: "poetry"

      - name: Run python build
        run: |
          poetry version ${{ github.ref_name }}
          poetry build --no-interaction

      - name: Update release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            dist/*
            CHANGELOG.md
          tag_name: "${{ github.ref_name }}"

      - run: |
          echo "Finished building and pushing containers for version ${{ github.ref_name }}."
