name: Linters and Tests

on:
  workflow_call:

jobs:
  pre-commit:
    if: github.event_name == 'pull_request'
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14.x"
          cache: "pip"

      - name: Run linter
        uses: pre-commit/action@v3.0.1
        env:
          SKIP: no-commit-to-branch

  test:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5

      - name: Install poetry
        run: pipx install poetry

      - name: Setup python
        uses: actions/setup-python@v6
        with:
          python-version: "3.14.x"
          cache: "poetry"

      - name: Run python tests
        run: |
          poetry install --no-interaction
          poetry run pytest --cov=src --cov-report=term --cov-fail-under=50

      - name: Run container tests
        run: |
          docker build .
