name: Run Tests

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: checkout
        uses: actions/checkout@v4

      - name: setup python
        uses: actions/setup-python@v4
        with:
          python-version: "3.11.x"

      - name: setup poetry and pre-commit
        run: |
          pip install poetry

      - name: setup application
        run: |
          poetry config virtualenvs.in-project true
          poetry install --no-interaction

      - name: run tests
        run: |
          poetry run pytest

      - name: run linter
        run: |
          poetry run pre-commit run flake8 --all-files
